body {
  margin: 0;
  padding: 0;
  
}

* {
  font-family: "Titan One", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-header {

  height: 100vh;
  width: 100%; 
  background-size: cover;
  background-repeat: no-repeat;
   background-position: center;
  margin: 0;
  background-image: url(/sushi-concept-website-template/BG-MAIN.png);
}

.menu-wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(9, 0, 61);
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.logo {
  width: 200px;
  height: 60px;
  margin-left: 40px;
}

.logo img {
  object-fit: contain;
  
}

.menu {
  display: flex;
  column-gap: 100px;
  margin-right: 40px;
  list-style: none;
  padding: 0;
}

.menu li {
  color: aliceblue;
}

.hamberger-bar {
  display: none;
}

.content-title{
  padding-top: 300px;
padding-left: 230px;
color: aliceblue;
  h1{
    font-weight: 700;
    font-size: 100px;
  }
}


.menu-wraper{
  position: fixed;
}

.content-paragrhap{
  width: 500px;
  height: 100px;
}

.btn{
  width: 200px;
  height: 50px;
  border-radius: 100px;
   background-color: rgb(9, 0, 61);
   color: white;
   border: none;
   box-shadow: 3px 2px 4px black;
   cursor: pointer;
}
