body {
  margin: 0;
  padding: 0;
  
}

* {
  font-family: "Titan One", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-header {

  height: 90vh;
  width: 100%; 
  background-size: cover;
  background-repeat: no-repeat;
   background-position: center;
  margin: 0;
  background-image: url(/sushi-concept-website-template/BG-MAIN.png);
}

.menu-wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(9, 0, 61);
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.logo {
  width: 200px;
  height: 60px;
  margin-left: 40px;
}

.logo img {
  object-fit: contain;
  
}

.menu {
  display: flex;
  column-gap: 100px;
  margin-right: 40px;
  list-style: none;
  padding: 0;
}

.menu li {
  color: aliceblue;
}

.hamberger-bar {
  display: none;
}

.content-title{
  padding-top: 300px;
padding-left: 230px;
color: aliceblue;
  h1{
    font-weight: 700;
    font-size: 100px;
  }
}


.menu-wraper{
  position: fixed;
}

.content-paragrhap{
  width: 500px;
  height: 100px;
}

.btn{
  width: 200px;
  height: 50px;
  border-radius: 100px;
   background-color: rgb(9, 0, 61);
   color: white;
   border: none;
   box-shadow: 3px 2px 4px black;
   cursor: pointer;
}


.Popular-Menu{
  
  height: 90vh;
  width: 100%; 
  background-size: cover;
  background-repeat: no-repeat;
   background-position: center;
  margin: 0;
  background-image: url(/sushi-concept-website-template/blue-bg.png);
}


.content-popular{
  padding: 100px;
  width: 100%;
  text-align: center;
  color: white;
}

.menuItem{
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
   width: 100%;
   padding-top: 100px;
   padding-left: 220px;
  text-align: center;
  column-gap: 50px;
  
}

.I-1{
  width: 400px;
  height: 400px;
  border-radius: 200px;
  
  
}

.I-1 img{
  width: 100%;
  height: 100%;
  border-radius: 200px;
  object-fit: cover;
  background-position: center;
}

.I-2{
  width: 400px;
  height: 400px;
  border-radius: 200px;
  
  
}
.I-2 img{
  width: 100%;
  height: 100%;
  border-radius: 200px;
  object-fit: cover;
  background-position: center;
}

.I-3{
  width: 400px;
  height: 400px;
  border-radius: 200px;
}
.I-3 img{
  width: 100%;
  height: 100%;
  border-radius: 200px;
  object-fit: cover;
  background-position: center;
}


@media screen and (max-width: 1661px) {
   .Popular-Menu{
    height: auto;
  }
}
@media screen and (max-width: 1282px) {
}



@media screen and (max-width: 1000px) {

  .hamberger-bar {
  display: block;
  cursor: pointer;
  padding-right: 40px;
  }
  .menu{
    display: none;
  }
  .logo{
  display: none;
  }
  .ls-menu{
    padding-left: 40px;
  }
  .menu.show{
    margin-top: 70px;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

 .menu-wraper {
    
    height: auto; 
    padding: 40px 0px;
    background-color: rgb(9, 0, 61); 
  }

  .Popular-Menu{
    height: auto;
  }
   .menuItem{
    padding-right: 200px;
   }
}

@media screen and (max-width: 1000px) {
  
.I-1{
  width: 300px;
  height: 300px;
  border-radius: 200px;
  
  
}
.I-2{
  width: 300px;
  height: 300px;
  border-radius: 200px;
  
  
}
.I-3{
  width: 300px;
  height: 300px;
  border-radius: 200px;
  
  
}
  .Popular-Menu{
    height: auto;
}
}




@media screen and (max-width: 930px) {
  
.I-1{
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin-top: 50px;
  
}
.I-2{
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin-top: 50px;
  
  
}
.I-3{
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin-top: 50px;
  
}
.Popular-Menu{
    height: auto;
  
}
}


@media screen and (max-width: 790px) {
  .menuItem{
    padding-right: -400px;
   }
  
.I-1{
  width: 100px;
  height: 100px;
  border-radius: 200px;
  margin-top: 50px;
  
}
.I-2{
  width: 100px;
  height: 100px;
  border-radius: 200px;

  
  
}
.I-3{
  width: 100px;
  height: 100px;
  border-radius: 200px;
 
  
}
  .Popular-Menu{
    height: auto;
  }
}
